<!DOCTYPE html>
<html>
<head>
    <title>Labeling Platform</title>
    <link rel="stylesheet" type="text/css" href="../static/css/button.css">
    <script src="https://kit.fontawesome.com/925c278ccf.js" crossorigin="anonymous"></script>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        img {
            width: 300px;
            height: 300px;
            margin-bottom: 20px;
        }
        .button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="header-menu">
        <h1>Labeling Platform</h1>
        <ul class="menu">
            <li><a href="">Help</a></li>
            <li><a href="">More</a></li>
        </ul>
    </div>
    <div id="canvas-container">
<!--        <img id="image" src="../static/pic/picc.jpg">-->
        <canvas id="canvas" width="500" height="500"></canvas>
        <div class="button-new_class" onclick="redirectToPage()">增加類別</div>
        <div class="button-prev"  id="prev-button" onclick="previousImage()">上一張</div>
        <div class="button-upload" onclick="showImage()"><i class="fa-solid fa-file-arrow-up"></i></div>
        <div class="button-next"  id="next-button" onclick="nextImage()">下一張</div>
        <div class="button-save" id="save-button">儲存</div>
        <div class="button-semi" onclick="redirectToParameterPage()">調整參數</div>
        <div class="button-predict" onclick="redirectToPredictPic()">展示結果</div>
        <!-- <div class="button-predict" onclick="redirectToPage2()">預測結果顯示</div> -->
        <div class="button-savsjs" onclick="redirectToSavejs()">儲存結果</div>
        <!-- <div class="button-displayPredict" onclick="redirectToSavejs()">展示預測結果</div> -->
        <div class="point-container" id="point-list">
            <ul id="point-list"></ul>
        </div>
    </div>
    <script src="../static/js/bbox.js"></script>
    <script>
        let imgC = 0;
        let images_id=0;
        var images = [
            {% for image in images %}
                "{{ image }}",
            {% endfor %}
        ];
        var predict_images = [
            {% for image in predict_images %}
                "{{ image }}",
            {% endfor %}
        ];
        var widths = [
            {% for width in widths %}
                "{{ width }}",
            {% endfor %}
        ];
        var heights = [
            {% for height in heights %}
                "{{ height }}",
            {% endfor %}
        ];
        console.log(images);
        // var images = ["../static/pic/picc.jpg", "../static/pic/piccc.jpg", "../static/pic/picc.jpg"];
        var currentIndex = 0;  //index

        function previousImage() {
            if (imgC == 0) {
                var imgU = images;
            }
            else if (imgC ==1) {
                var imgU = predict_images;
            }
            console.log(imgU);
            console.log(widths)
            // ctx.clearRect(0, 0, canvas.width, canvas.height);
            images_id--;
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = imgU.length - 1;
                images_id = imgU.length - 1;
            }
            const image = new Image();
            image.src = imgU[currentIndex];

            image.onload = function() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
            };
        }

        function nextImage() {
            tempPoints = [];
            if (imgC == 0) {
                var imgU = images;
            }
            else if (imgC ==1) {
                var imgU = predict_images;
            }
            // ctx.clearRect(0, 0, canvas.width, canvas.height);
            images_id++;
            currentIndex++;
            if (currentIndex >=imgU.length) {
                currentIndex = 0;
                images_id = 0;
            }
            const image = new Image();
            image.src = imgU[currentIndex];

            image.onload = function() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.beginPath();
                ctx.closePath();
            };
        }
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');

        function showImage() {
            imgC = 0;
            const image = new Image();
            image.src = "/static/dataset/train/LINE_ALBUM_Coin_231012_1_jpg.rf.60ff61e1d002b60cd61df947f4224b2b.jpg";

            image.onload = function() {
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
            };
        }

        function redirectToPredictPic() {
            imgC = 1;
            const image = new Image();
            image.src = "/static/pic/predict/predict_LINE_ALBUM_Coin_231012_4_jpg.rf.7bb5b8a3f4d6d8977a90840a3d4fe71b.jpg";

            image.onload = function() {
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
            };
        }



        function redirectToPage() {
            window.location.href = "qq";
        }

        function redirectToParameterPage() {
            window.location.href = "parameter";
        }
        function redirectToTrain() {
            window.location.href = "train";
        }
        function redirectToSavejs() {
            window.location.href = "savejs";
        }
    </script>
</body>
</html>
