/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*before, *after {
    box-sizing: border-box !important; 
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #fff;
}
/* body */
.header{
    display: flex;
    background: #000;
}
.header-menu{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    background: rgb(0, 0, 0, 0.75);
}
/* header-menu h1*/
.header-menu h1{
    color: #fff;
    display: block;     /* 更改寬高，較好點擊 */
    width: 100%;
    line-height: 40px;  /* 文字置中 */
    font-size: 24px;
    font-weight: bold;
    padding: 0 10px;
}
.header-menu .menu{
    display: flex;
    margin-right: 20px;
}
.header-menu .menu li a{
    display: block;     /* 更改寬高，較好點擊 */
    width: 32px;
    line-height: 40px;  /* 文字置中 */
    padding: 0 21px;
}
.header-menu .menu li a:hover,.header-menu a.active{
    background: rgba(212, 208, 208, 0.2);
    color: #F56C23 ;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    /*background: #FAFAFA 70%;*/
    background: #f4f1ea;    
}
#canvas-container {
    position: relative;
    background-color: #FAFAFA;
}
#canvas {
    border: 15px solid rgb(0, 0, 0, 0.75);
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
    border-radius: 12px;
}
.button-new_class {
    position: absolute;
    top: 0px;
    left: -140px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-prev {
    position: absolute;
    bottom: -70px;
    left: 0px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-upload {
    position: absolute;
    bottom: -70px;
    left: 245px;
    font-size: 35px;
    box-sizing: border-box;
    padding: 5px;
    color: #808080;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-next {
    position: absolute;
    bottom: -70px;
    right: 0px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-save {
    position: absolute;
    bottom: 200px;
    right: -205px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-semi {
    position: absolute;
    bottom: 120px;
    right: -205px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-predict {
    position: absolute;
    bottom: 40px;
    right: -230px;
    font-size: 18px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-savsjs {
    position: absolute;
    bottom: -40px;
    right: -230px;
    font-size: 18px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-displayPredict {
    position: absolute;
    bottom: -120px;
    right: -230px;
    font-size: 18px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    padding: 5px;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
}
.button-new_class:hover,.button-prev:hover,.button-next:hover,.button-save:hover,.button-semi:hover,.button-predict:hover,.button-savsjs:hover,.button-displayPredict:hover{
    background-color: rgb(0, 0, 0, 0.75);
}
.button-upload:hover{
    color : rgb(0, 0, 0, 0.75);
}
.point-container{
    position: absolute;
    bottom: 300px;
    right: -270px;
    border: 5px #000;
    width: 210px;
    height: 210px;
    border: 4px solid rgba(171, 167, 167, 0.75);
    box-shadow: 3px 3px 4px 0px rgb(0,0,0,15%);
    border-radius: 5px;
    overflow: auto; /* 添加滚动条，如果内容超过框的尺寸 */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FAFAFA;
}


    
